## Importing Libraries

In [1]:
import numpy as np # For numerical computation
import pandas as pd # For reading data
import matplotlib.pyplot as plt # For visualization of data

In [2]:
df = pd.read_csv('Houses Data.csv')
df.head() # first 5 rows

  total_sqft   price
0       1056   39.07
1       2600  120.00
2       1440   62.00
3       1521   95.00
4       1200   51.00

In [3]:
df.tail() # last five rows

      total_sqft  price
13315       3453  231.0
13316       3600  400.0
13317       1141   60.0
13318       4689  488.0
13319        550   17.0

In [4]:
df.sample(5) # random five rows

      total_sqft  price
3436        1200   58.0
7076        1080   52.0
7407        1480   95.0
1022        1100   56.0
12973        600   86.0

In [8]:
df.shape

(13320, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_sqft  13320 non-null  object
 1   price       13320 non-null  float64
dtypes: float64(1), object(1)
memory usage: 208.2+ KB

In [14]:
# Since total_sqft column is object data type, so we will convert into int
total_sqft = int(df['total_sqft'])

TypeError: cannot convert the series to <class 'int'>

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_sqft  13320 non-null  object
 1   price       13320 non-null  float64
dtypes: float64(1), object(1)
memory usage: 208.2+ KB