### Web Scrapping¶
### 1 - Dawn Articles
### 2 - Top Science Fiction Movies
### 3 - Web Scrapping From Multiple Pages
### 4 - Using AP

---

## 1 - Dawn Articles

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
webpage = requests.get('https://www.dawn.com/').text

In [3]:
soup=BeautifulSoup(webpage,'html.parser')

In [4]:
data = soup.find_all('article',attrs={'class':'story'})

In [5]:
data[0]

<article class="story box mb-2 pb-1" data-id="1717321" data-layout="story">
<!-- box/label -->
<span class="badge inline-flex text-3 font-normal rounded theme theme-default theme--live align-middle" dir="auto" id="live"><span>Live </span></span>
<!-- box/title title-bold-playfairdisplay-pb:1-text:5 -->
<h2 class="story__title text-5 font-bold font-playfair-display leading-tight pb-1" data-id="1717321" data-layout="story" dir="auto"><a class="story__link" href="https://www.dawn.com/news/1717321/imran-calls-on-long-march-participants-to-reach-rawalpindi-on-nov-26">Imran calls on long march participants to reach Rawalpindi on Nov 26</a></h2>
<!-- box/image -->
<figure class="media media--fill sm:w-full w-full mb-1">
<div class="media__item"><a href="https://www.dawn.com/news/1717321/imran-calls-on-long-march-participants-to-reach-rawalpindi-on-nov-26" target="_self" title=""><picture><img alt="Imran calls on long march participants to reach Rawalpindi on Nov 26" src="https://i.dawn.com/medium/2022/11/19172041ef8891f.png?r=172059"/></picture></a></div>
</figure>
<!-- box/excerpt -->
<div class="story__excerpt text-3 font-georgia mb-1.5" dir="auto">"I will meet you there," says the PTI chief.

    </div>
<!-- box/date --><span class="story__time text-2.5 text-gray-400 font-arial block"><span class="timestamp--label">Updated</span> <span class="timestamp--time timeago" title="2022-11-19T18:08:26+05:00"><span class="timestamp__calendar">19 Nov, 2022</span> <span class="timestamp__time">06:08pm</span></span></span> </article>

In [6]:
anchor = data[0].find('a')

In [7]:
anchor

<a class="story__link" href="https://www.dawn.com/news/1717321/imran-calls-on-long-march-participants-to-reach-rawalpindi-on-nov-26">Imran calls on long march participants to reach Rawalpindi on Nov 26</a>

In [8]:
anchor.text

'Imran calls on long march participants to reach Rawalpindi on Nov 26'

In [9]:
anchor['href']

'https://www.dawn.com/news/1717321/imran-calls-on-long-march-participants-to-reach-rawalpindi-on-nov-26'

In [10]:
data[0].find('img')

In [11]:
data[0].find('img')['src']

'https://i.dawn.com/medium/2022/11/19172041ef8891f.png?r=172059'

In [12]:
titles = []
paragraph = []
img = []
author_names = []
published_time = []
images = []
links = []

for i in data:
    anchor = i.find('a')
    img = i.find('img')
    titles.append(anchor.text)
    links.append(anchor['href'])
    if img:
        images.append(img['src'])
    else:
        images.append(' ')
    
    author = i.find('span','story__byline').a.text if i.find('span','story__byline') else ''
    author_names.append(author)
    
    date = i.find('span', class_ = 'timestamp--time  timeago').text if i.find('span', class_ = 'timestamp--time  timeago') else '**'
    published_time.append(date)
    
    para = i.find('div', class_ = 'story__excerpt').text if i.find('div', class_ = 'story__excerpt') else ''
    paragraph.append(para)

In [13]:
len(titles),len(links), len(images)

(180, 180, 180)

In [14]:
dawn_df = pd.DataFrame({'Titles':titles,'Author Names':author_names,'Published Time':published_time,'First Paragraph':paragraph,'Links':links,'Images':images})

In [15]:
dawn_df.head()

,Titles,Author Names,Published Time,First Paragraph,Links,Images
0,Imran calls on long march participants to reac...,,**,"""I will meet you there,"" says the PTI chief.\n...",https://www.dawn.com/news/1717321/imran-calls-...,https://i.dawn.com/medium/2022/11/19172041ef88...
1,"Pakistan will not default, will make bond paym...",,**,Requests people to avoid spreading rumours or ...,https://www.dawn.com/news/1721879/pakistan-wil...,https://i.dawn.com/medium/2022/11/19164841e585...
2,PPP’s Chandio brothers indicted in Mehar tripl...,,**,Court summons witnesses in next hearing on Dec...,https://www.dawn.com/news/1721876/ppps-chandio...,https://i.dawn.com/medium/2022/11/191623231363...
3,"In report to IHC, capital police highlight ris...",,**,"Report suggests ""financial/bank guarantees"" be...",https://www.dawn.com/news/1721867/in-report-to...,https://i.dawn.com/medium/2022/11/191505364972...
4,Karachi police disperse protesting Islamia Col...,,**,Islami Jamiat Talaba claims five students were...,https://www.dawn.com/news/1721874/karachi-poli...,https://i.dawn.com/medium/2022/11/1915395818a6...

In [16]:
dawn_df.tail(3)

,Titles,Author Names,Published Time,First Paragraph,Links,Images
177,Poet's Corner\n,,**,,https://www.dawn.com/news/1721858/poets-corner,
178,Website review: All the related words\n,,**,,https://www.dawn.com/news/1721856/website-revi...,
179,Cook-it-yourself: Malt caffè mocha\n,,**,,https://www.dawn.com/news/1721855/cook-it-your...,

In [17]:
dawn_df.describe()

,Titles,Author Names,Published Time,First Paragraph,Links,Images
count,180,180,180,180,180,180
unique,105,20,1,35,141,71
top,,,**,,https://www.dawn.com/news/1721598/lky-on-not-c...,
freq,59,160,180,145,4,107

In [18]:
dawn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Titles           180 non-null    object
 1   Author Names     180 non-null    object
 2   Published Time   180 non-null    object
 3   First Paragraph  180 non-null    object
 4   Links            180 non-null    object
 5   Images           180 non-null    object
dtypes: object(6)
memory usage: 8.6+ KB

In [19]:
dawn_df.isnull()

     Titles  Author Names  Published Time  First Paragraph  Links  Images
0     False         False           False            False  False   False
1     False         False           False            False  False   False
2     False         False           False            False  False   False
3     False         False           False            False  False   False
4     False         False           False            False  False   False
..      ...           ...             ...              ...    ...     ...
175   False         False           False            False  False   False
176   False         False           False            False  False   False
177   False         False           False            False  False   False
178   False         False           False            False  False   False
179   False         False           False            False  False   False

[180 rows x 6 columns]

In [20]:
import numpy as np
df = dawn_df.replace(r'^s*$', np.nan, regex=True) # replacing empty cells with NaN values
df

,Titles,Author Names,Published Time,First Paragraph,Links,Images
0,Imran calls on long march participants to reac...,NaN,**,"""I will meet you there,"" says the PTI chief.\n...",https://www.dawn.com/news/1717321/imran-calls-...,https://i.dawn.com/medium/2022/11/19172041ef88...
1,"Pakistan will not default, will make bond paym...",NaN,**,Requests people to avoid spreading rumours or ...,https://www.dawn.com/news/1721879/pakistan-wil...,https://i.dawn.com/medium/2022/11/19164841e585...
2,PPP’s Chandio brothers indicted in Mehar tripl...,NaN,**,Court summons witnesses in next hearing on Dec...,https://www.dawn.com/news/1721876/ppps-chandio...,https://i.dawn.com/medium/2022/11/191623231363...
3,"In report to IHC, capital police highlight ris...",NaN,**,"Report suggests ""financial/bank guarantees"" be...",https://www.dawn.com/news/1721867/in-report-to...,https://i.dawn.com/medium/2022/11/191505364972...
4,Karachi police disperse protesting Islamia Col...,NaN,**,Islami Jamiat Talaba claims five students were...,https://www.dawn.com/news/1721874/karachi-poli...,https://i.dawn.com/medium/2022/11/1915395818a6...
...,...,...,...,...,...,...
175,FIFA World Cup Qatar 2022: The fun begins\n,NaN,**,NaN,https://www.dawn.com/news/1721861/fifa-world-c...,
176,Mailbox\n,NaN,**,NaN,https://www.dawn.com/news/1721860/mailbox,
177,Poet's Corner\n,NaN,**,NaN,https://www.dawn.com/news/1721858/poets-corner,
178,Website review: All the related words\n,NaN,**,NaN,https://www.dawn.com/news/1721856/website-revi...,
179,Cook-it-yourself: Malt caffè mocha\n,NaN,**,NaN,https://www.dawn.com/news/1721855/cook-it-your...,

In [21]:
df.shape

(180, 6)

In [22]:
df.to_csv('dawn_articles.csv')

## 2 - Top Science Fiction Movies

In [23]:
webpage = requests.get('https://www.imdb.com/search/title/?genres=sci-fi&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=3396781f-d87f-4fac-8694-c56ce6f490fe&pf_rd_r=8J8TDTSFDKRN3C9SVGCP&pf_rd_s=center-1&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr1_i_2').text

In [24]:
soup=BeautifulSoup(webpage,'html.parser')

In [25]:
movie_names = []
year = []
genre = []
rating = []

In [26]:
movies_data = soup.find_all('div', class_ = 'lister-item mode-advanced')

In [27]:
for i in movies_data:
    name = i.h3.a.text
    movie_names.append(name)

In [28]:
len(movie_names)

50

In [29]:
for i in movies_data:
    yr = i.h3.find('span', class_= 'lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year.append(yr)

In [30]:
len(year)

50

In [31]:
for i in movies_data:
    gn = i.p.find('span', class_ = 'genre').text.replace('\n','')
    genre.append(gn)

In [32]:
len(genre)

50

In [33]:
for i in movies_data:
    rt = i.find('div', class_= 'inline-block ratings-imdb-rating').text.replace('\n','') if i.find('div', class_= 'inline-block ratings-imdb-rating') else '^^'
    rating.append(rt)

In [34]:
len(rating)

50

In [35]:
movies_df = pd.DataFrame({'Name of Movie':movie_names,'Year of Release':year,'Genre':genre,'Rating':rating})

In [36]:
movies_df.head()

,Name of Movie,Year of Release,Genre,Rating
0,Black Panther: Wakanda Forever,2022,"Action, Adventure, Drama",7.3
1,Andor,2022–,"Action, Adventure, Drama",8.3
2,The Peripheral,2022–,"Drama, Mystery, Sci-Fi",8.2
3,Manifest,2018–,"Drama, Mystery, Sci-Fi",7.1
4,Black Adam,2022,"Action, Adventure, Fantasy",6.9

In [37]:
movies_df.to_csv('top_Sci_movies.csv')

## 3 - Web Scrapping From Multiple Webpages

In [38]:
import numpy as np
from time import sleep
from random import randint

In [39]:
movie_names = []
year = []
genre = []
rating = []

In [40]:
pages = np.arange(1,1000,50)

In [41]:
for page in pages:
    page = requests.get('https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&start='+str(page)+'&ref_=adv_nxt')
    soup = BeautifulSoup(page.text, 'html.parser')
    movie_data = soup.find_all('div', class_ = 'lister-item mode-advanced')
    sleep(randint(2,8))
    for i in movie_data:
        name = i.h3.a.text
        movie_names.append(name)
        
        yr = i.h3.find('span', class_= 'lister-item-year text-muted unbold').text.replace('(','').replace(')','')
        year.append(yr)
        
        gn = i.p.find('span', class_ = 'genre').text.replace('\n','')
        genre.append(gn)
        
        rt = i.find('div', class_= 'inline-block ratings-imdb-rating').text.replace('\n','') if i.find('div', class_= 'inline-block ratings-imdb-rating') else '^^'
        rating.append(rt)

In [42]:
movies_df = pd.DataFrame({'Name of Movie':movie_names,'Year of Release':year,'Genre':genre,'Rating':rating})

In [43]:
movies_df.head()

,Name of Movie,Year of Release,Genre,Rating
0,The Shawshank Redemption,1994,Drama,9.3
1,The Godfather,1972,"Crime, Drama",9.2
2,Kantara,2022,"Action, Adventure, Drama",9.0
3,The Dark Knight,2008,"Action, Crime, Drama",9.0
4,The Lord of the Rings: The Return of the King,2003,"Action, Adventure, Drama",9.0

In [44]:
movies_df.to_csv('top_1000_movies.csv')

## 4 - Using API

In [45]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [46]:
response.json()['results']

[{'adult': False,
  'backdrop_path': '/rl7Jw8PjhSIjArOlDNv0JQPL1ZV.jpg',
  'genre_ids': [10749, 18],
  'id': 851644,
  'original_language': 'ko',
  'original_title': '20 Century Girl',
  'overview': "Yeon-du asks her best friend Bora to collect all the information she can about Baek Hyun-jin while she is away in the U.S. for heart surgery. Bora decides to get close to Baek's best friend, Pung Woon-ho first. However, Bora's clumsy plan unfolds in an unexpected direction. In 1999, a year before the new century, Bora, who turns seventeen, falls into the fever of first love.",
  'popularity': 341.026,
  'poster_path': '/od22ftNnyag0TTxcnJhlsu3aLoU.jpg',
  'release_date': '2022-10-06',
  'title': '20th Century Girl',
  'video': False,
  'vote_average': 8.8,
  'vote_count': 248},
 {'adult': False,
  'backdrop_path': '/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg',
  'genre_ids': [18, 80],
  'id': 238,
  'original_language': 'en',
  'original_title': 'The Godfather',
  'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
  'popularity': 91.365,
  'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
  'release_date': '1972-03-14',
  'title': 'The Godfather',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 16917},
 {'adult': False,
  'backdrop_path': '/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg',
  'genre_ids': [18, 80],
  'id': 278,
  'original_language': 'en',
  'original_title': 'The Shawshank Redemption',
  'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
  'popularity': 65.133,
  'poster_path': '/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg',
  'release_date': '1994-09-23',
  'title': 'The Shawshank Redemption',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 22668},
 {'adult': False,
  'backdrop_path': '/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg',
  'genre_ids': [18, 80],
  'id': 240,
  'original_language': 'en',
  'original_title': 'The Godfather Part II',
  'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
  'popularity': 50.839,
  'poster_path': '/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg',
  'release_date': '1974-12-20',
  'title': 'The Godfather Part II',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 10256},
 {'adult': False,
  'backdrop_path': '/aVFx1VtlOxR3v0ADEatalXOvwbu.jpg',
  'genre_ids': [16, 14, 28],
  'id': 620249,
  'original_language': 'zh',
  'original_title': '罗小黑战记',
  'overview': 'In the bustling human world, spirits live peacefully with mankind. Luo Xiaohei, a young cat spirit, becomes a nomad after his forest home is destroyed. His natural talent soon attracts spirits and humans alike, but all of them have their own motivations.',
  'popularity': 15.855,
  'poster_path': '/aLv87NgRJUPkQ6sVLP72IisDdt4.jpg',
  'release_date': '2019-08-27',
  'title': 'The Legend of Hei',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 208},
 {'adult': False,
  'backdrop_path': '/zb6fM1CX41D9rF9hdgclu0peUmy.jpg',
  'genre_ids': [18, 36, 10752],
  'id': 424,
  'original_language': 'en',
  'original_title': "Schindler's List",
  'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
  'popularity': 42.032,
  'poster_path': '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg',
  'release_date': '1993-12-15',
  'title': "Schindler's List",
  'video': False,
  'vote_average': 8.6,
  'vote_count': 13452},
 {'adult': False,
  'backdrop_path': '/vI3aUGTuRRdM7J78KIdW98LdxE5.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 19404,
  'original_language': 'hi',
  'original_title': 'दिलवाले दुल्हनिया ले जायेंगे',
  'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
  'popularity': 24.865,
  'poster_path': '/2CAL2433ZeIihfX1Hb2139CX0pW.jpg',
  'release_date': '1995-10-19',
  'title': 'Dilwale Dulhania Le Jayenge',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 3945},
 {'adult': False,
  'backdrop_path': '/bxSBOAD8AuMHYMdW3jso9npAkgt.jpg',
  'genre_ids': [10751, 18],
  'id': 667257,
  'original_language': 'es',
  'original_title': 'Cosas imposibles',
  'overview': 'Matilde is a woman who, after the death of her husband - a man who constantly abused her - finds her new best friend in Miguel, her young, insecure, disoriented and even dealer neighbor',
  'popularity': 10.892,
  'poster_path': '/t2Ew8NZ8Ci2kqmoecZUNQUFDJnQ.jpg',
  'release_date': '2021-06-17',
  'title': 'Impossible Things',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 276},
 {'adult': False,
  'backdrop_path': '/Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg',
  'genre_ids': [16, 10751, 14],
  'id': 129,
  'original_language': 'ja',
  'original_title': '千と千尋の神隠し',
  'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
  'popularity': 88.745,
  'poster_path': '/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg',
  'release_date': '2001-07-20',
  'title': 'Spirited Away',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 13558},
 {'adult': False,
  'backdrop_path': '/qqHQsStV6exghCM7zbObuYBiYxw.jpg',
  'genre_ids': [18],
  'id': 389,
  'original_language': 'en',
  'original_title': '12 Angry Men',
  'overview': "The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.",
  'popularity': 32.031,
  'poster_path': '/ppd84D2i9W8jXmsyInGyihiSyqz.jpg',
  'release_date': '1957-04-10',
  'title': '12 Angry Men',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 6795},
 {'adult': False,
  'backdrop_path': '/3RMLbSEXOn1CzLoNT7xFeLfdxhq.jpg',
  'genre_ids': [10749, 16],
  'id': 372754,
  'original_language': 'ja',
  'original_title': '同級生',
  'overview': 'Rihito Sajo, an honor student with a perfect score on the entrance exam and Hikaru Kusakabe, in a band and popular among girls, would have never crossed paths. Until one day they started talking at the practice for their school’s upcoming chorus festival. After school, the two meet regularly, as Hikaru helps Rihito to improve his singing skills. While they listen to each other’s voice and harmonize, their hearts start to beat together.',
  'popularity': 12.382,
  'poster_path': '/cIfRCA5wEvj9tApca4UDUagQEiM.jpg',
  'release_date': '2016-02-20',
  'title': 'Dou kyu sei – Classmates',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 260},
 {'adult': False,
  'backdrop_path': '/mMtUybQ6hL24FXo0F3Z4j2KG7kZ.jpg',
  'genre_ids': [10749, 16, 18],
  'id': 372058,
  'original_language': 'ja',
  'original_title': '君の名は。',
  'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
  'popularity': 121.721,
  'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg',
  'release_date': '2016-08-26',
  'title': 'Your Name.',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 9230},
 {'adult': False,
  'backdrop_path': '/TU9NIjwzjoKPwQHoHshkFcQUCG.jpg',
  'genre_ids': [35, 53, 18],
  'id': 496243,
  'original_language': 'ko',
  'original_title': '기생충',
  'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
  'popularity': 62.026,
  'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
  'release_date': '2019-05-30',
  'title': 'Parasite',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 14711},
 {'adult': False,
  'backdrop_path': '/l6hQWH9eDksNJNiXWYRkWqikOdu.jpg',
  'genre_ids': [14, 18, 80],
  'id': 497,
  'original_language': 'en',
  'original_title': 'The Green Mile',
  'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
  'popularity': 79.004,
  'poster_path': '/velWPhVMQeQKcxggNEU8YmIo52R.jpg',
  'release_date': '1999-12-10',
  'title': 'The Green Mile',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 14628},
 {'adult': False,
  'backdrop_path': '/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg',
  'genre_ids': [18, 28, 80, 53],
  'id': 155,
  'original_language': 'en',
  'original_title': 'The Dark Knight',
  'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
  'popularity': 73.066,
  'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
  'release_date': '2008-07-14',
  'title': 'The Dark Knight',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 28591},
 {'adult': False,
  'backdrop_path': '/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg',
  'genre_ids': [10749],
  'id': 724089,
  'original_language': 'en',
  'original_title': "Gabriel's Inferno: Part II",
  'overview': "Professor Gabriel Emerson finally learns the truth about Julia Mitchell's identity, but his realization comes a moment too late. Julia is done waiting for the well-respected Dante specialist to remember her and wants nothing more to do with him. Can Gabriel win back her heart before she finds love in another's arms?",
  'popularity': 14.521,
  'poster_path': '/x5o8cLZfEXMoZczTYWLrUo1P7UJ.jpg',
  'release_date': '2020-07-31',
  'title': "Gabriel's Inferno: Part II",
  'video': False,
  'vote_average': 8.5,
  'vote_count': 1442},
 {'adult': False,
  'backdrop_path': '/w2uGvCpMtvRqZg6waC1hvLyZoJa.jpg',
  'genre_ids': [10749],
  'id': 696374,
  'original_language': 'en',
  'original_title': "Gabriel's Inferno",
  'overview': "An intriguing and sinful exploration of seduction, forbidden love, and redemption, Gabriel's Inferno is a captivating and wildly passionate tale of one man's escape from his own personal hell as he tries to earn the impossible--forgiveness and love.",
  'popularity': 11.19,
  'poster_path': '/oyG9TL7FcRP4EZ9Vid6uKzwdndz.jpg',
  'release_date': '2020-05-29',
  'title': "Gabriel's Inferno",
  'video': False,
  'vote_average': 8.5,
  'vote_count': 2297},
 {'adult': False,
  'backdrop_path': '/aQ7444JX7gefPhGJTlvilj3zG2S.jpg',
  'genre_ids': [10402],
  'id': 553512,
  'original_language': 'ko',
  'original_title': '번 더 스테이지: 더 무비',
  'overview': 'A documentary following the worldwide famous music group BTS, as they tour the world and share their experience along with their beloved band friends and fans.',
  'popularity': 18.159,
  'poster_path': '/pJKy1yvnKh8UjcuYeG3Rt35xHFA.jpg',
  'release_date': '2018-11-15',
  'title': 'Burn the Stage: The Movie',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 371},
 {'adult': False,
  'backdrop_path': '/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg',
  'genre_ids': [53, 80],
  'id': 680,
  'original_language': 'en',
  'original_title': 'Pulp Fiction',
  'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
  'popularity': 67.303,
  'poster_path': '/fIE3lAGcZDV1G6XM5KmuWnNsPp1.jpg',
  'release_date': '1994-09-10',
  'title': 'Pulp Fiction',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 24071},
 {'adult': False,
  'backdrop_path': '/x4biAVdPVCghBlsVIzB6NmbghIz.jpg',
  'genre_ids': [37],
  'id': 429,
  'original_language': 'it',
  'original_title': 'Il buono, il brutto, il cattivo',
  'overview': 'While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.',
  'popularity': 52.21,
  'poster_path': '/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg',
  'release_date': '1966-12-23',
  'title': 'The Good, the Bad and the Ugly',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 6979}]

In [47]:
pd.DataFrame(response.json()['results']).head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/rl7Jw8PjhSIjArOlDNv0JQPL1ZV.jpg,"[10749, 18]",851644,ko,20 Century Girl,Yeon-du asks her best friend Bora to collect a...,341.026,/od22ftNnyag0TTxcnJhlsu3aLoU.jpg,2022-10-06,20th Century Girl,False,8.8,248
1,False,/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",91.365,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.7,16917
2,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,65.133,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.7,22668
3,False,/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,50.839,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.6,10256
4,False,/aVFx1VtlOxR3v0ADEatalXOvwbu.jpg,"[16, 14, 28]",620249,zh,罗小黑战记,"In the bustling human world, spirits live peac...",15.855,/aLv87NgRJUPkQ6sVLP72IisDdt4.jpg,2019-08-27,The Legend of Hei,False,8.6,208

In [48]:
df.to_csv('movies.csv')