In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.shape

(13320, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df = df.drop(['area_type','availability','location','size','society','bath','balcony'],axis = 1)
df.head()

  total_sqft   price
0       1056   39.07
1       2600  120.00
2       1440   62.00
3       1521   95.00
4       1200   51.00

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df['total_sqft'],df['price'],test_size=0.2)

In [ ]:
X_train.shape

### Linear Regression - ML Model Training

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression() #to create object/model using LinearRegression class
lr.fit(X_train,y_train) #to train model give X_train and y_train vallues so that it may learn coefficients and intercept

In [ ]:
lr.coef_

In [ ]:
lr.intercept_

# Predict the value of Home and Test

In [ ]:
lr.predict(X_test) #to predict value of multiple houses

In [ ]:
#to compare it. Either it has predicted right or not
y_test

In [ ]:
#to check percentage of accuracy of our ML model
lr.score(X_test,y_test)

## Model Evaluation

## Root Mean Square Error

In [ ]:
y_predict=lr.predict(X_test)
y_predict #this is y hat

In [ ]:
y_test #to see actual values,this is y value

In [ ]:
from sklearn.metrics import mean_squared_error #mostly mean squared error (cost function is used)
mse=mean_squared_error(y_test,y_predict)
rmse=np.sqrt(mse) #to convert mean squared error into square root
print('Mean Squared Error= ',mse)
print('Root Mean Squared Error= ',rmse)

#this shows a lot difference so will have to use another type model

## >>>Lasso and Ridge Regression

In [ ]:
from sklearn.linear_model import Ridge, Lasso

In [ ]:
rd=Ridge() #create object/model using ridge class
rd.fit(X_train,y_train) #to fit model
rd.score(X_test,y_test)

In [ ]:
ls=Lasso()
ls.fit(X_train,y_train)
ls.score(X_test,y_test)

In [ ]:
#change alpha values of both to check
rd=Ridge(alpha=30) #create object/model using ridge class
rd.fit(X_train,y_train) #to fit model
rd.score(X_test,y_test)

In [ ]:
ls=Lasso(alpha=80)
ls.fit(X_train,y_train)
ls.score(X_test,y_test)

## R-Square Error/Score

In [ ]:
#For Supervised Regression Model, to find its score after its training
#1 is best score, 0 or negative values are worst scores

In [ ]:
#to implement R-Square
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,y_predict)

In [ ]:
#it shows score is in mid, so model is not very good