<b> They are used along with higher order functions. Higer order functions use another functions to do its work and their return statements are functions

<b> Syntax: lambda (keyword), Input, Expression

<b> Difference with Simple Function: <br>
    1 - Lambda Function has no return value.It returns full function, rather than value.<br>
    2 - Lambda Function is written in only one line. <br>
    3 - Lamda Function is not used for code reusability.<br>
    4 - Lambda Function has no name.

In [4]:
lmb = lambda x: x**2

In [8]:
type(lmb)

function

In [5]:
lmb(2)

4

In [6]:
lmb = lambda x,y : x+y

In [7]:
lmb(2,3)

5

In [10]:
# to check given string has first letter 'a'

b = lambda x : x[0]=='a'

In [11]:
b('apple')

True

In [12]:
b('banana')

False

In [16]:
# to use with conditions- e.g. given number is odd or even ?

b = lambda x : 'Even' if x%2 == 0 else 'Odd'

In [17]:
b(2)

'Even'

In [18]:
b(3)

'Odd'

## Higher Order Functions

In [37]:

def return_sum(List):
    
    even_sum = 0
    odd_sum = 0
    div_sum = 0
    
    for i in List:
        if i%2 ==0:
            even_sum = even_sum + i
        if i%2 !=0:
            odd_sum = odd_sum + i
        if i%3 ==0:
            div_sum = div_sum + i
    return(even_sum,odd_sum,div_sum)

In [38]:
return_sum([12,14,21,23,56,78,45,29,28])

(188, 118, 156)

In [36]:
# OR Use Higher Order Function

def return_sum(func,L):
    
    result = 0
    for i in L:
        if func(i):
            result = result + i
    return result

L = [11,14,21,23,56,78,45,29,28]
x = lambda x:x%2 == 0
y = lambda x:x%2 != 0
z = lambda x:x%3 == 0

print(return_sum(x,L))
print(return_sum(y,L))
print(return_sum(z,L))

176
129
144

### Built in Higher Order Functions:
#### 1 - Map Function
#### 2 - Filter Function
#### 3 - Reduce Function

# 1 - Map Function

In [58]:
# It expects two things: i) Function - Lambda ii) Iterable
# It can perform operation on each item in list

In [47]:
# to double value of each item in list
L = [10,14,21,23,56,78,45,29,28]
map(lambda x: x*2,L)

In [48]:
# convert map object into list to see result
list(map(lambda x: x*2,L))

[20, 28, 42, 46, 112, 156, 90, 58, 56]

In [49]:
# to check each item in list is even or not
list(map(lambda x:x%2==0,L))

[True, True, False, False, True, True, False, False, True]

In [53]:
# to fetch names, emails in a form of list

students = [
    {
        'name':'Jacob',
        'email':'jacob@gmail.com',
        'password':'12345',
    },
    {
        'name':'John',
        'email':'john@gmail.com',
        'password':'32145',
    }
]

In [55]:
list(map(lambda student:student['name'],students))

['Jacob', 'John']

In [56]:
list(map(lambda student:student['email'],students))

['jacob@gmail.com', 'john@gmail.com']

# 2- Filter Function

In [60]:
# to fetch values by putting some condition

In [62]:
# to fetch values greater than 4

L = [1,2,3,4,5,5,6]
list(filter(lambda x:x>=4,L))

[4, 5, 5, 6]

In [68]:
# to fetch those fruits whose names starts with 'a'
Fruits = ['apple','orange','mango','grape','banana']
list(filter(lambda x:x[0]=='a',Fruits))

['apple']

In [69]:
# to fetch those fruits whose names contains word 'e'
Fruits = ['apple','orange','mango','grape','banana']
list(filter(lambda fruit:'e' in fruit,Fruits))

['apple', 'orange', 'grape']

<b> Difference between Map and Filter Functions:<br>
    Map Function - Do operation on each item in list <br>
    Fliter Function - Filter out on given filtered condition

# 3 - Reduce Function

In [70]:
# first you need to import functools
import functools

In [71]:
# Reduce function reduces list
L = [1,2,3,4,5,5,6,7]   # By 1+2=3, 3+3 =6, 6+4=10, 10+5=15, 15+5=20, 20+6=26, 26+7=33

In [72]:
functools.reduce(lambda x,y:x+y,L)

33

In [73]:
L1 = [1,2,3,4,5,5,6,7,8,9]
functools.reduce(lambda x,y:x if x>y else y,L1) # 1,2=2, 2,3 =3, 3,4=4, 4,5=5, 5,5=5, 5,6=6, 6,7=7, 7,8=8, 8,9=9

9

# List Comprehension

<b> It is a technique to create list from another list programatically

In [75]:
# Create list in which each item is double of the previous corresponding list items. We can do by either map function, loop or the following method
L = [1,2,3,4,5,6,7]
L1 = [item*2 for item in L]
L1

[2, 4, 6, 8, 10, 12, 14]

In [76]:
L2 = [i**2 for i in range(10)]
L2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
L3 = [i**2 for i in range(10) if i%2 !=0] # taking power of only odd numbers
L3

[1, 9, 25, 49, 81]

In [78]:
Fruits

['apple', 'orange', 'mango', 'grape', 'banana']

In [81]:
L = [fruit for fruit in Fruits if fruit[0]=='a']  # fruits starting with alphabet 'a'
L

['apple']

# Dictionary Comprehension

In [82]:
D = {'Name':'John','Gender':'Male','Age':30}

In [84]:
D.items()  # Creates list of tuples. Each tuple contains key, value pair

dict_items([('Name', 'John'), ('Gender', 'Male'), ('Age', 30)])

In [87]:
# Create dictionary in which length of key is greater than 3
D1 = {key:value for key,value in D.items() if len(key)>3}
D1

{'Name': 'John', 'Gender': 'Male'}

In [88]:
# Craetion from List
L = [1,2,3,4,5]
D = {item:item**2 for item in L}
D

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [89]:
D = {item:item**2 for item in L if item%2==0} # for only even items
D

{2: 4, 4: 16}