# Python Strings

<h4>1 - Creation of String<br>
    
   2 - Accessing a Substring From a String <br>
    
   3 - Editing / Deleting a String <br>
   
   4 - String Operations <br>
   
   5 - String Formatting <br>
   
   6 - String Functions

## 1 - Creation of a String

In [3]:
city = 'Lahore'     # Using single inverted commas
city

'Lahore'

In [6]:
city = "Lahore"     # Using double inverted commas. 
st = "It's my beautiful house"   # The importance of double inverted commas comes when we need to write ("It's a good book") - where apostrophy is used
city,st

('Lahore', "It's my beautiful house")

In [13]:
city = '''Lahore'''    # Using triple single inverted commas 
city1 = """Islamabad"""
st1 = """Pakistan, officially the Islamic Republic of Pakistan, is a country in South Asia. It is the world's fifth-most populous country, with a population of almost 242 million, and has the world's second-largest Muslim population. """     # Mostly triple inverted commas are used to write multi line string or paragraph

In [10]:
print(city)
print(city1)
print(st1)

Lahore
Islamabad
Pakistan, officially the Islamic Republic of Pakistan, is a country in South Asia. It is the world's fifth-most populous country, with a population of almost 242 million, and has the world's second-largest Muslim population.

In [14]:
# Using string function
print(str(5))
print(str('ali'))

5
ali

In [15]:
# Creation of empty string
str()

''

## 2 - Accessing a Substring From a String

###  Indexing - to access individual element from string

In [18]:
city = "I2live3in4Lahore"
city[0]

'I'

In [19]:
city[-1]

'e'

In [20]:
city[5]

'e'

In [21]:
city[-6]

'L'

### Slicing - to access a sequence of elements from a string

In [26]:
city[:3]   # starting from 0th index, excluding last index

'I2l'

In [24]:
city[1:6]

'2live'

In [25]:
city[1:]   # printing all elements from 1st index to onwards

'2live3in4Lahore'

In [27]:
city[1:6:2]  # 2 is called step parameter

'2ie'

In [30]:
city[::-1]  # to print all elements in reverse order

'erohaL4ni3evil2I'

In [31]:
city[-4:]  # strting from -4th index to -1st index

'hore'

## 3 - Editing / Deleting a String

<b> Strings are Immutables. We can not update or delete part of string

In [32]:
city

'I2live3in4Lahore'

In [33]:
city[0]='M'

TypeError: 'str' object does not support item assignment

In [34]:
city[1:4]=345

TypeError: 'str' object does not support item assignment

In [35]:
# But we can replace whole string
city = 'Lahore'
city

'Lahore'

In [36]:
# Similarly for Deleting:
del city[0]    # The error shows that we can not delete part of string

TypeError: 'str' object doesn't support item deletion

In [41]:
# But we can delete whole string
del city
city    # The result shows that city has been deleted

NameError: name 'city' is not defined

## 4 - String Operations

<b> i - Arithmatic Operations

In [39]:
# Concatenation / Addition
"Lahore" + "Islamabad"

'LahoreIslamabad'

In [40]:
# Multiplication
"Lahore" * 3

'LahoreLahoreLahore'

In [44]:
"*" * 50    # printing different patterns

'**************************************************'

In [43]:
# We can't apply difference, division, power of operations in strings

"Lahore" / "Islamabad"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

<b> ii - Relational Operations

In [46]:
'Islamabad' < 'Lahore'   # The word which comes later in dictionary will be greater

True

In [51]:
'Mol' > 'mol'   # Since capital letters comes earlier so Mol with capital letter is smaller than mol with small letter

False

In [47]:
"Islamabad" == "islamabad"  # False result shows that Python is case sensitive language. It differentiate between upper and lower case letters

False

<b> iii - Logical Operations

In [52]:
"" and "world"  # Python considers empty string False and non-empty string as True.It means '0' , '1' It's result will be False.So nothing will print out

''

In [53]:
"" or "world"  # It's result will be True. So world will be printed out

'world'

In [54]:
"hello" or 'world'  # It means '1' , '1'. Because in start it is one, so hello will be printed out

'hello'

In [55]:
"hello"  and  "world"  # Since the truth of this logic comes from second word so second word "world" will be printed out

'world'

In [56]:
not 'hello'  # It means opposite of True(because  'hello' is true word)

False

In [57]:
not ""    # It means opposite of False(due to empty string is False)

True

<b>iv - Membership Operator

In [62]:
'Isl' in 'Islamabad'

True

In [63]:
'Ims' in 'Islamabad'

False

In [64]:
'Ims' not in 'Islamabad'

True

<b>v - String Iteration

In [58]:
for i in 'Islamabad':
    print(i)

I
s
l
a
m
a
b
a
d

In [59]:
a = "Hello World"
for i in a[1:5]:
    print(i)

e
l
l
o

In [60]:
for i in a[1::2]:
    print(i)

e
l

o
l

In [61]:
for i in a[::-1]:
    print(i)

d
l
r
o
W

o
l
l
e
H

## 5 - String Formatting

In [65]:
"Islamabad is {} city of Pakistan. It got inaugurated in {}.".format('capital',1960)

'Islamabad is capital city of Pakistan. It got inaugurated in 1960.'

In [66]:
"Islamabad is {} city of Pakistan. It got inaugurated in {}. Before that, {} was the capital city of Pakistan".format('capital',1960,'Karachi')

'Islamabad is capital city of Pakistan. It got inaugurated in 1960. Before that, Karachi was the capital city of Pakistan'

In [67]:
"Islamabad is {0} city of Pakistan. It got inaugurated in {1}. Before that, it was the {0} city of Pakistan.".format('capital',1960)

'Islamabad is capital city of Pakistan. It got inaugurated in 1960. Before that, it was the capital city of Pakistan.'

In [68]:
"Islamabad is {0} city of Pakistan. It got inaugurated in {0}. Before that, it was the {0} city of Pakistan.".format('capital',1960)

'Islamabad is capital city of Pakistan. It got inaugurated in capital. Before that, it was the capital city of Pakistan.'

In [69]:
# Another Method of Formatting:
"Islamabad is a {name} of capital city of Pakistan. It got inaugurated in {Year}.".format(name = 'city',Year = 1960)

'Islamabad is a city of capital city of Pakistan. It got inaugurated in 1960.'

In [70]:
"My name is {name} and I belong to {city}. My weight is {weight}".format(weight = 60, name = 'Ali',city ='Lahore', country ='Pakistan')

'My name is Ali and I belong to Lahore. My weight is 60'

## 6 - String Functions

<b> i - Common Functions

In [74]:
# Len Function -  Finding length of word. It also includes spaces,punctuations,etc.
len('Lahore'),len('Hello,       World')

(6, 18)

In [79]:
# Min / Max Functions - # to find lesser or greater ASCII value characters in word. ASCII values: A=65,B=66,.. a=97
city = 'Islamabad@8'
min(city), max(city)

('8', 's')

In [80]:
# sorted function - It does not permanently change string order
sorted(city)  # Sorting according to ASCII codes - In Ascending Order

['8', '@', 'I', 'a', 'a', 'a', 'b', 'd', 'l', 'm', 's']

In [83]:
city

'Islamabad@8'

In [85]:
sorted(city, reverse = True) # to sort in descending order

['s', 'm', 'l', 'd', 'b', 'a', 'a', 'a', 'I', '@', '8']

In [86]:
city

'Islamabad@8'

<b> ii - Special String Functions

<b> These all are temporary operations unless we store its results in another variable

In [93]:
# Upper Function
city.upper()

'ISLAMABAD@8'

In [94]:
# Lower Function
city.lower()

'islamabad@8'

In [95]:
# Capitalize Function
"hello everyone in World".capitalize() # It will capitalize first alphabet and remaining will be converted into small letters

'Hello everyone in world'

In [97]:
# Title Function
city1 = 'Karachi is a beutiful city. It is capital.'
city1.title()

'Karachi Is A Beutiful City. It Is Capital.'

In [98]:
# Swapcase Function
'koLKaTtA'.swapcase()  # It will convert upper to lower and lower to uppercase letters

'KOlkAtTa'

In [101]:
# Count Function - To find frequency of substring in any string
city1.count('a'), city.count('Is')

(5, 1)

In [103]:
# Find / Index Functions - Same working
print('At Index: ','Islamabad'.find('m')) # position of m character in index value. It tells first occurence of character
print('At Index: ','Islamabad'.index('m'))
print('At Index: ','Islamabad'.find('a'))
print('At Index: ','Islamabad'.find('bad'))
print('At Index: ','Islamabad'.find('K'))  # The result -1 shows that particular character is not present in string
print('At Index: ','Islamabad'.index('K'))  # But it's result will be different than find function when particular character is not present in string

At Index:  4
At Index:  4
At Index:  3
At Index:  6
At Index:  -1

ValueError: substring not found

In [108]:
# Endswith / Startswith Functions
print(city)
city.endswith('.'),city.startswith('F'),city.endswith('8')

Islamabad@8

(False, False, True)

In [111]:
# Split Function
city1.split()

['Karachi', 'is', 'a', 'beutiful', 'city.', 'It', 'is', 'capital.']

In [113]:
# Join Function - Reverse of split function
list = ['Karachi', 'is', 'a', 'beutiful', 'city.', 'It', 'is', 'capital.']
" ".join(list)

'Karachi is a beutiful city. It is capital.'

In [114]:
# Replace Function
city1.replace('K','M')

'Marachi is a beutiful city. It is capital.'

In [115]:
# Strip Function - It removes trailing and leading spaces in string
name = "         -- Ali     "
print(name)

print(name.strip())

         -- Ali
-- Ali

In [116]:
print('Flat30'.isalnum()) # Is there alphabet or numric in string
print('Flat'.isalnum())
print('Flat30'.isalpha())
print('Flat'.isalpha())
print('30'.isdecimal())
print('30'.isdigit())
print('30A'.isdigit())
print('hello world'.isidentifier())
print('hello_world'.isidentifier())
print('hello world'.islower())

True
True
False
True
True
True
False
False
True
True

# List

<b> Lists in Python are mutable

<b>Difference Between List and Array<br>
1 - Array is only Homogeneous List whereas List can be Heterogeneous List<br>
2 - Arrays are much faster<br>
3 - Lists are more programmer friendly

### Homogeneous List - Consists of elements from same data types

In [2]:
li1 = [1,2,3,4]     # Only integers
li2 = ['Python','C++','Java']  # Only strings
li3 = [[1,2],[3,4]]  # Only lists
li4 = [True, False]  # Only boolian data types
li5 = [2+3j,5-3j]    # Only complex data types

### Heterogeneous List - Consists of elements from different data types

In [3]:
li = [1,2,'Python',True,[3,4]]

## 1 - Creation of List

In [4]:
li1 = [3,4,5]    # Homogeneous List
li = [1,2,'Python',True,2-3j]  # Heterogeneous List

In [5]:
# Multi dimensional list
li = [1,2,3,4,[5,6]] # 2 D list
li2 = [[[1,2],[3,4]],[[5,6],[7,8]]] # 3 D List
li3 = list("Python")  # Using list function
print(li)
print(li2)
print(li3)

[1, 2, 3, 4, [5, 6]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
['P', 'y', 't', 'h', 'o', 'n']

In [35]:
a = list() # Creating Emplty List
a

[]

## 2 - Accessing Items of a List

In [6]:
l1 = [1,2,3,4,5]    
l2 = [1,2,3,4,[5,6]]
l3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

### Indexing

In [8]:
l1[0]

1

In [9]:
l2[-1]

[5, 6]

In [11]:
l2[-1][0]

5

In [15]:
l3[1][1]

[7, 8]

In [10]:
l3[1][1][0]

7

### Slicing

In [13]:
l1[:3]

[1, 2, 3]

In [16]:
l3[1:]

[[[5, 6], [7, 8]]]

## 3 - Editing a List

In [17]:
l1

[1, 2, 3, 4, 5]

In [18]:
l1[0]=500

In [19]:
l1

[500, 2, 3, 4, 5]

In [20]:
l1[:3]=[20,30,40]
l1

[20, 30, 40, 4, 5]

In [21]:
l1[-1]='Python'
l1

[20, 30, 40, 4, 'Python']

### Adding element in a list

In [22]:
l1

[20, 30, 40, 4, 'Python']

In [25]:
# Append Function - to add single element at the end of the list
l1.append(100)

In [24]:
l1

[20, 30, 40, 4, 'Python', 100]

In [26]:
# Extend Function - to add multiple elements in list
l1.extend([200,300])

In [27]:
l1

[20, 30, 40, 4, 'Python', 100, 100, 200, 300]

In [28]:
l1.extend('Lahore') # Extend Function converts each element of string into list and then added in list

In [29]:
l1

[20, 30, 40, 4, 'Python', 100, 100, 200, 300, 'L', 'a', 'h', 'o', 'r', 'e']

In [30]:
l1.append('hello')  # But in case of append string is added in single word

In [31]:
l1

[20,
 30,
 40,
 4,
 'Python',
 100,
 100,
 200,
 300,
 'L',
 'a',
 'h',
 'o',
 'r',
 'e',
 'hello']

In [32]:
# Insert Function - to add element at desired position
l1.insert(1,'1000')  # adding value of 1000 at 1st index

In [33]:
l1

[20,
 '1000',
 30,
 40,
 4,
 'Python',
 100,
 100,
 200,
 300,
 'L',
 'a',
 'h',
 'o',
 'r',
 'e',
 'hello']

## 4- Deleting Element From a List

In [36]:
a

[]

In [37]:
# Del Function - to remove entire list
del a

In [38]:
a

NameError: name 'a' is not defined

In [39]:
l1

[20,
 '1000',
 30,
 40,
 4,
 'Python',
 100,
 100,
 200,
 300,
 'L',
 'a',
 'h',
 'o',
 'r',
 'e',
 'hello']

In [40]:
del l1[1]  # to delete part from list

In [41]:
l1

[20,
 30,
 40,
 4,
 'Python',
 100,
 100,
 200,
 300,
 'L',
 'a',
 'h',
 'o',
 'r',
 'e',
 'hello']

In [42]:
del l1[-7:-1]

In [43]:
l1

[20, 30, 40, 4, 'Python', 100, 100, 200, 300, 'hello']

In [44]:
l2

[1, 2, 3, 4, [5, 6]]

In [45]:
del l2[-1][0]

In [46]:
l2

[1, 2, 3, 4, [6]]

In [47]:
# Remove function - to remove single desired value
l1

[20, 30, 40, 4, 'Python', 100, 100, 200, 300, 'hello']

In [48]:
l1.remove('Python')

In [49]:
l1

[20, 30, 40, 4, 100, 100, 200, 300, 'hello']

In [50]:
l1.append('Python')

In [51]:
l1

[20, 30, 40, 4, 100, 100, 200, 300, 'hello', 'Python']

In [54]:
l1.remove('Python')

In [55]:
# Pop Function - to remove last element from list
l1

[20, 30, 40, 4, 100, 100, 200, 300, 'hello']

In [56]:
l1.pop()

'hello'

In [57]:
l1

[20, 30, 40, 4, 100, 100, 200, 300]

In [58]:
l1.pop()

300

In [59]:
l1

[20, 30, 40, 4, 100, 100, 200]

In [60]:
# Clear Function - to delete values from list so remaining wil be empty list
l1.clear()

In [61]:
l1

[]

## 5 - Operations Applied on List

In [63]:
# Concatenation / Addition of lists
l1 =[1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l4 = [9,10]
l5 = ['Python']
l1 + l2 + l3 + l4 + l5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 10, 'Python']

In [64]:
# Multiplication
l1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [65]:
# Iteration in a List
for i in l1:
    print(i)

1
2
3

In [66]:
l2 = [1,2,3,[4,5]]
for i in l2:
    print(i)

1
2
3
[4, 5]

In [67]:
# Membership Operator
1 in l1

True

In [68]:
10 not in l2

True

In [69]:
[4,5] not in l2

False

## 6 - Functions Applied on List

In [70]:
l1

[1, 2, 3]

In [74]:
# Len Function
len(l1)

3

In [75]:
# max Function
max(l1)

3

In [76]:
# min Function
min(l1)

1

In [77]:
l1 = [20,1,30,45,78,9]
l2 = [1,2,3,'python']
l3 = ['python','Python','computer','C++']

In [84]:
# sorted Function - Applied for homogeneous data types
sorted(l1), sorted(l3)

([1, 9, 20, 30, 45, 78], ['C++', 'Python', 'computer', 'python'])

In [85]:
sorted(l2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [86]:
sorted(l1,reverse = True) # Sorting in reverse order

[78, 45, 30, 20, 9, 1]

In [87]:
l1

[20, 1, 30, 45, 78, 9]

<b> The above result shows that sorted function does temporary sorting in list

In [90]:
# sort Function
l1.sort()

In [91]:
l1

[1, 9, 20, 30, 45, 78]

<b> The above result shows that sort function does permanent sorting in list

<b> Difference Between sorted and sort functions: <br>
    i - sorted function does temporary sorting in list <br>
    ii - sort function does permanent sorting in list

In [92]:
# index function
l1

[1, 9, 20, 30, 45, 78]

In [95]:
l1.index(78) # Position of specific value

5

# Tuples

<b> Tuples are Immutable. They are read only data types.

## 1 - Creation of a Tuple

In [102]:
t1 = ()             # Craetion of Empty Tuple
t2 = (1,2,3,4,5)              # Homogeneous Tuple
t3 = (1,2,'Python',True,2+3j)        # Heterogeneous Tuple
t4 = (1,2,3,(4,5))            # 2 D Tuple
t5 = (((1,2),(3,4)))      # 3 D Tuple

print(t1,t2,t3,t4,t5)

() (1, 2, 3, 4, 5) (1, 2, 'Python', True, (2+3j)) (1, 2, 3, (4, 5)) ((1, 2), (3, 4))

In [111]:
t = tuple('Python')  # Creation of tuple from string
t

('P', 'y', 't', 'h', 'o', 'n')

In [112]:
t = tuple([1,2,3])  # creation of tuple from list
t

(1, 2, 3)

In [113]:
# to create one value tuple

In [107]:
t = (4)
type(t)

int

In [108]:
t = (4,) 
type(t)

tuple

In [109]:
t1 = ('Python')
type(t1)

str

In [110]:
t1 = ('Python',)
type(t1)

tuple

## 2 - Accessing Items of a Tuple

<b> i - Indexing

In [114]:
t1 = (1,2,3,4,'Python')
t1

(1, 2, 3, 4, 'Python')

In [115]:
t1[0]

1

In [118]:
t2 = (1,2,3,(4,5))
t2[-1][1]

5

<b> ii - Slicing

In [116]:
t1[:4]

(1, 2, 3, 4)

In [117]:
t1[::-1] # In reverse order

('Python', 4, 3, 2, 1)

## 3 - Editing of a Tuple

<b> Tuples are Immutables

In [119]:
t1

(1, 2, 3, 4, 'Python')

In [120]:
t1[0]=100

TypeError: 'tuple' object does not support item assignment

In [129]:
# But if there is mutable data type inside tuple, like list. Then, the value of list can be updated.
t2 = (1,2,3,[4,5])
t2

(1, 2, 3, [4, 5])

In [126]:
t2[-1][0]=6

In [127]:
t2

(1, 2, 3, [6, 5])

In [128]:
# We can replace with new tuple
t1 = (20,30,50)
t1

(20, 30, 50)

In [134]:
# Also we can't add any value indide tuple
t1.append('a')

AttributeError: 'tuple' object has no attribute 'append'

## 4 - Deleting a Tuple

In [123]:
t1 = (1,2,3,'Python',(4,5))
t1

(1, 2, 3, 'Python', (4, 5))

In [130]:
del t1[0]  # Since tuple is immutable, so the part of it can't be deleted

TypeError: 'tuple' object doesn't support item deletion

In [131]:
# But value of list within tuple can be deleted
t2

(1, 2, 3, [4, 5])

In [132]:
del t2[-1][0]

In [133]:
t2

(1, 2, 3, [5])

## 5 - Operations on Tuple

In [141]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,'Python')

In [142]:
# Addition
t1 + t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'Python')

In [143]:
# Multiplication
t1 *3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [144]:
# Iteration
for i in t1:
    print(i)

1
2
3
4
5

In [146]:
for i in t1[:3]:
    print(i)

1
2
3

## 5 - Functions on Tuple

In [149]:
t1 = (1,2,3,4,4,5)
t1

(1, 2, 3, 4, 4, 5)

In [150]:
# Count Function
t1.count(4)

2

In [153]:
# len Function
len(t1)

6

In [156]:
# min Function
min(t1)

1

In [157]:
# max Function
max(t1)

5

In [158]:
# Sum Function
sum(t1)

19

In [160]:
# sorted Function
sorted(t1,reverse = True)

[5, 4, 4, 3, 2, 1]

# Sets

<b> 1 - Sets don't allow duplicates<br>
    2 - Sets have no indexing / slicing <br>
    3 - Sets don't allow mutable data types<br>
    4 - Set itself is a mutable data type

## 1 - Creation of Set

In [162]:
s1 = {}  # By default, python creates dictionary by curly braces
type(s1)

dict

In [164]:
# To create empty set 
s1 = set()
type(s1)

set

In [165]:
s1 = {1,2,3,'Python', True}  # Heterogeneous set
s2=  {1,2,3,4,5}   # Homogeneous set
s1, s2

({1, 2, 3, 'Python'}, {1, 2, 3, 4, 5})

In [166]:
# Set don't create duplicate values
s1 = {1,2,2,3,3,3,4}
s1

{1, 2, 3, 4}

In [170]:
# Sets don't allow mutable data types -  
s1 = {[1,2],2,3}
s1

TypeError: unhashable type: 'list'

In [174]:
s1 = {{1,2,2},2,3}  # The error shows as set itself a mutable data type
s1

TypeError: unhashable type: 'set'

In [179]:
s2 = {'C++',(1,2),'Python'}  # Since tuple and strings is immutable data type, so no error
s2

{(1, 2), 'C++', 'Python'}

<b> The above output is not in order. Because, sets have no indexing. The order is done by hashing.

## 2 - Accessing Items of Set

<b> Sets have no indexing / slicing

In [180]:
s1

{1, 2, 3, 4}

In [181]:
s1[0]

TypeError: 'set' object is not subscriptable

In [182]:
s1[1:3]

TypeError: 'set' object is not subscriptable

## 3 - Editing a Set

In [183]:
s1

{1, 2, 3, 4}

In [184]:
s1[0]=2  # The error shows that sets are immutables

TypeError: 'set' object does not support item assignment

In [185]:
# If we convert set into list and then make changes, actually we don't make changes in original set, rather we create another set

In [186]:
s1 = {1,2,3,4,5,6}
id(s1)

1372952351008

In [187]:
l1 = list(s1)
l1

[1, 2, 3, 4, 5, 6]

In [188]:
l1[0]=100
l1

[100, 2, 3, 4, 5, 6]

In [194]:
s1 = set(l1)

id(s1)

1372952350784

<b> The above result shows that newly created set has different address than the original one

## 4 - Deleting a Set

In [192]:
s1

{2, 3, 4, 5, 6, 100}

In [196]:
# del Function
del s1[0]

TypeError: 'set' object doesn't support item deletion

In [197]:
del s1
s1

NameError: name 's1' is not defined

In [202]:
# remove Function
s1 = {1,2,3,4,5}

In [203]:
s1.remove(5)

In [204]:
s1

{1, 2, 3, 4}

In [205]:
# pop Function - to remove 1st item from a set
s1.pop()

1

In [206]:
s1

{2, 3, 4}

In [207]:
s1.pop()

2

In [208]:
s1

{3, 4}

In [236]:
# clear Function
s1 = {1,2,3}
s1.clear()

In [237]:
s1 # empty set

set()

## 5 - Set Operations

<b> We can not concatenate and multiply in sets

In [211]:
s1 = {1,2,3,4,5}
s2 = {5,6,20,7,8}

In [214]:
# Arithmatic Operation
s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [213]:
# Iteration
for i in s1:
    print(i)

1
2
3
4
5

In [215]:
# Membership Operation
1 in s1

True

In [216]:
100 not in s1

True

## 6 - Set Funtcions

<b> i - Common Functions

In [217]:
# len Function
len(s1)

5

In [218]:
# min Function
len(s1)

5

In [219]:
# max Function
max(s1)

5

In [222]:
# sum Function
sum(s1)

15

In [223]:
# sorted Function  - temporary operation
sorted(s1, reverse = True)

[5, 4, 3, 2, 1]

In [224]:
s1

{1, 2, 3, 4, 5}

<b> ii - Special Functions

In [226]:
s1,s2

({1, 2, 3, 4, 5}, {5, 6, 7, 8, 20})

In [227]:
# union Function
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 20}

In [228]:
# difference Function
s1.difference(s2)

{1, 2, 3, 4}

In [229]:
# intersection Function
s1.intersection(s2)

{5}

In [230]:
# symmetric difference Function
s1.symmetric_difference(s2)

{1, 2, 3, 4, 6, 7, 8, 20}

In [231]:
# isdisjoin Function
s1.isdisjoint(s2)

False

In [232]:
# issubset Function
s1.issubset(s2)

False

In [233]:
# issuperset Function
s1.issuperset(s2)

False

# Dictionary

<b> 1 - Dictionary has no indexing <br>
    2 - Dictionary is a mutable data type <br>
    3 - Keys are immutable, values can be mutable and immutable <br>
    4 - Keys should be unique

## 1 - Creation of a Dictionary

In [238]:
d = {}  # Creation of empty dictionary
d1 = {'name':'Ali','gender':'male','age':25}
d, d1

({}, {'name': 'Ali', 'gender': 'male', 'age': 25})

In [244]:
# Keys should be immutable like tuples

In [240]:
d2 = {(1,2,3):'male','age':25}
d2

{(1, 2, 3): 'male', 'age': 25}

In [241]:
d2 = {[1,2,3]:'male','age':25} # There is error since list is mutable

TypeError: unhashable type: 'list'

In [242]:
d2 = {{1,2,3}:'male','age':25} # There is error since dictionary  is mutable

TypeError: unhashable type: 'set'

In [243]:
d2 = {1:'male','age':25} # There is error since list is mutable

In [245]:
# Keys should be unique

In [246]:
d = {'name':'ali','gender':'male','name':'usman'}

In [247]:
d # The result shows that key shoul be unique, it prints updated or last value of that specific key

{'name': 'usman', 'gender': 'male'}

In [248]:
# Creation of 2 D dictionary
d1 ={'name':'Ali','gender':'male','age':25,'marks':{'Math':82,'Science':75}}
d1

{'name': 'Ali',
 'gender': 'male',
 'age': 25,
 'marks': {'Math': 82, 'Science': 75}}

## 2 - Accessing Items From a Dictionary

In [249]:
# Dictionary is accessed by key

In [250]:
d1

{'name': 'Ali',
 'gender': 'male',
 'age': 25,
 'marks': {'Math': 82, 'Science': 75}}

In [251]:
d1[0]

KeyError: 0

In [252]:
d1['name']

'Ali'

## 3 - Editing a Dictionary

In [253]:
d1

{'name': 'Ali',
 'gender': 'male',
 'age': 25,
 'marks': {'Math': 82, 'Science': 75}}

In [256]:
d1['name']='Usman'
d1

{'name': 'Usman',
 'gender': 'male',
 'age': 25,
 'marks': {'Math': 82, 'Science': 75}}

In [257]:
d1['marks']['Science'] = 82
d1

{'name': 'Usman',
 'gender': 'male',
 'age': 25,
 'marks': {'Math': 82, 'Science': 82}}

In [258]:
# Adding new key-value pair
d1['location']='Lahore'
d1

{'name': 'Usman',
 'gender': 'male',
 'age': 25,
 'marks': {'Math': 82, 'Science': 82},
 'location': 'Lahore'}

In [259]:
d1['marks']['Urdu']=67
d1

{'name': 'Usman',
 'gender': 'male',
 'age': 25,
 'marks': {'Math': 82, 'Science': 82, 'Urdu': 67},
 'location': 'Lahore'}

## 4 - Deleting a Dictionary

In [261]:
del d1['gender']   # deleting by key
d1

{'name': 'Usman',
 'age': 25,
 'marks': {'Math': 82, 'Science': 82, 'Urdu': 67},
 'location': 'Lahore'}

In [262]:
d2

{1: 'male', 'age': 25}

In [265]:
# clear Function
d2.clear()
d2

{}

## 5 - Operations in Dictonary

<b> There is no concatenation, multipliaction in dictionary.

In [267]:
d3 = {'name':'you','loc':'me'}

In [268]:
d1 + d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [269]:
# Iteration
for i in d1:
    print(i)  # It prints out only keys

name
age
marks
location

In [272]:
for i in d1:
    print(i,d1[i])

name Usman
age 25
marks {'Math': 82, 'Science': 82, 'Urdu': 67}
location Lahore

In [273]:
# Membership Operation  - It is according to keys
'Usman' in d1

False

In [274]:
'name' in d1

True

## 6 - Dictionary Functions

<b> i - Common Functions

In [275]:
len(d1)

4

In [276]:
min(d1)  # According to ASCII values

'age'

In [284]:
max(d1)

'name'

<b> ii- Special Functions

In [285]:
d1.keys()

dict_keys(['name', 'age', 'marks', 'location'])

In [286]:
d1.values()

dict_values(['Usman', 25, {'Math': 82, 'Science': 82, 'Urdu': 67}, 'Lahore'])